name: CI/CD Spring Boot Microservices

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    services:
      docker:
        image: docker:20.10.16
        options: --privileged

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 21

      - name: Cache Maven packages
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Build with Maven
#        run: mvn clean install -DskipTests

#      - name: Run tests
#        run: mvn test

  docker-build:
    needs: build-and-test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.mahdihemdane }}
          password: ${{ secrets.Azerty123 }}

      - name: Build and push Docker images
        run: |
          for service in api-gateway product-service order-service inventory-service notification-service discovery-service; do
            docker build -t ${{ secrets.mahdihemdane }}/$service:latest ./$service
            docker push ${{ secrets.Azerty123 }}/$service:latest
          done
